body{
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.bloco{
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px #0000001a;
}

h2{
    text-align: center; color: #333;
}

.itens{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

button{
    padding: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #219150;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.btn-delete{
    background-color: #e74c3c;
    padding: 5px 10px;
}

.btn-delete:hover{
    background-color: #c0392b;
}